$grid-columns: 8;
$height: 20.6rem;
$color: #285a92;

.containers {
    display: grid;
    grid-gap: .8rem;
    grid-template-columns: 100%;
    grid-template-areas: "a" "b" "c";
    @media screen and (min-width: get-breakpoint(desktop)) {
        grid-template-columns: repeat($grid-columns, 1fr);
        grid-template-areas:
        'a a a a a a a a'
        'b b b b b c c c';
    }
}
