<div id={{this.uniqueId}} class="sortable-container" ...attributes {{did-insert this.setupContainerElement}}>
    {{yield (hash items=@items item=(component "sortable-item" container=this dragStart=this.dragStart))}}
</div>