<h2 id="title">Welcome to Ember</h2>

{{outlet}}
List 1
{{#swap-container as |c|}}
  {{#each list as |item|}}
    {{#swap-item}}
      {{item.name}}
    {{/swap-item}}
  {{/each}}
{{/swap-container}}

List 2
{{#swap-container as |c|}}
  {{#each listTwo as |item|}}
    {{#swap-item}}
      {{item.name}}
    {{/swap-item}}
  {{/each}}
{{/swap-container}}